<ion-header [translucent]="true">
  <ion-toolbar>
    <div style=" display: flex; justify-content: space-between;">
      <ion-title>Principal</ion-title>
      <ion-button [routerLink]="'login'">Iniciar sesion</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div style="justify-content: space-between;">
        <ion-title size="large">Principal</ion-title>

      </div>
    </ion-toolbar>
  </ion-header>
</ion-content>
